<ion-grid fixed>
  <ion-row>
    <ion-col sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Peer Feedback</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="/assets/pdp/q1.png"></ion-img>
          <strong>Comment:</strong> Good all rounder, would add value to any
          team with his variety of experience and skills.
          <ion-img src="/assets/pdp/q3.png" class="ion-margin-top"></ion-img>
          <strong>Comment:</strong> Dan B can sometimes be work shy or take the
          first easy route; he has the ability to achieve more by operating at a
          higher gear.
          <ion-img src="/assets/pdp/q56.png" class="ion-margin-top"></ion-img>
          <div class="ion-margin-top">
            <ion-card-subtitle>
              How would you rate the effort levels of this individual out of 10
              (10 being exceptional), over the induction period?
              <em>8.14</em></ion-card-subtitle
            >
          </div>
          <div class="ion-margin-top">
            <ion-card-subtitle
              >The one thing that this person does well that they should
              continue doing/do more of is...</ion-card-subtitle
            >
            <ul>
              <li>He is good at teaching himself new skills.</li>
              <li>Deployment of code on Raspberry Pi's.</li>
              <li>
                Dan has the level of being approachable and protective of SAIT
                down very well. The father figure of SAIT who keeps us grounded.
              </li>
              <li>
                Continue to develop all-round skill set, good sense of humour,
                calm and collected briefing style.
              </li>
              <li>
                REME expertise has proved invaluable so far. Similar to Dan P,
                natural talent for programming. Able to exceed comfortably at
                back end stuff despite probably classing himself more as a
                Software Developer.
              </li>
              <li>
                Continue building a wide variety of skills, you have the ability
                to add value in a part of a project.
              </li>
              <li>
                You have amazing team spirit. I like the way your work with
                others and your leadership style.
              </li>
            </ul>
          </div>
          <div class="ion-margin-top">
            <ion-card-subtitle
              >The one thing that this person needs to improve/stop doing
              is...</ion-card-subtitle
            >
            <ul>
              <li>
                Dan B will definitely need to stop taking the easy route; he
                will need to pay more attention to the details.
              </li>
              <li>Implement back-end / server side code</li>
              <li>
                Cant honestly think of nothing. Dan is an all rounder who isn't
                afraid to learn outside of his comfort zone.
              </li>
              <li>
                The banter might annoy someone one day but it's not really a big
                deal.
              </li>
              <li>
                Criminally undersells himself. Fails to mention often hes got a
                degree in electronic engineering (which is bloody hard) I'll add
                I think this comes from him being humble, but there is
                definitely a way to big yourself up without being arrogant.
              </li>
              <li>
                Stop being a grumpy Warrant! But that's not going to happen and
                I don't have anything else.
              </li>
              <li>
                Putting your self down technically. Yes you do have a broad
                range of skills but you're better at most of them than you give
                yourself credit for.
              </li>
            </ul>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Personal Development Plan</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div>
            <ion-card-subtitle
              >What is the main positive thing you take away from this peer
              feedback and how will it affect the way you
              work?</ion-card-subtitle
            >
            <ion-card-content>
              <p>
                I am delighted that the team feels that I’m ready to deploy and
                add value. I have learned a huge amount since beginning the
                induction 2 months ago. Agile project management, Scrum, and
                working as a member of a multi-skilled professional development
                team are all new to me. My technical skills have also developed
                rapidly; Azure Dev Ops, Git collaboration, computer vision,
                CI/CD, PySpark, VueJS, Docker, and Python specific skills such
                as testing and modular design have all improved significantly.
              </p>
              <br />
              <p>
                The endorsement of the team on all points except one – which I
                address below – is encouraging. As is the positive feedback on
                my leadership and presentation style; it’s very different from
                other styles on the team and it feels natural to me now.
              </p>
            </ion-card-content>
          </div>
          <div class="ion-margin-top">
            <ion-card-subtitle
              >What is the main constructive feedback you take away from this
              peer feedback and how will it affect the way you
              work?</ion-card-subtitle
            >
            <ion-card-content>
              <p>
                I am a firm believer that harsh truths must be told in order to
                grow, and I welcome it all. That being said, this feedback is
                bittersweet.
              </p>
              <br />
              <p>
                I was completely devastated to read that a team mate feels that
                I can sometimes be work shy. I can’t think of anything worse.
                I’ve spoken at length with the person that left this comment and
                clarified what he meant. During each of our induction projects
                we have reached a point where the product was ‘done’ and we had
                some more time before delivery. I have usually advocated for
                stopping at that point rather than risk breaking the product and
                failing to impress on the presentation. I recognise that the
                unrelenting pursuit of excellence requires risk, and that when
                the situation arises it is always worth a discussion.
                Additionally, with what we have learned at MS, it’s now a simple
                case of branching the repo and experimenting without risking the
                production codebase.
              </p>
              <br />
              <p>
                The second part of the comment mentions that I can take the easy
                route. I can absolutely see this; I do have a tendency to ‘jump
                to the end’ and implement an obvious 80% solution rather than
                spend the time to explore other ideas that may be better in the
                long-run. This is particularly likely when there is a tight
                deadline – as there often has been during the induction - and
                I’ve seen something similar before. I recognise that the this
                unconscious mindset will stifle innovation and will endeavour to
                take the tactical pause before jumping to a conclusion.
              </p>
              <br />
              <p>
                The remainder of the feedback is not surprising to me and aligns
                closely to feedback received during my 1-1. In an effort to
                eliminate my overconfidence in my abilities I try to play down
                my skills rather than self-promote. It’s a difficult balance to
                strike, and I’d rather err on the side of humility than
                arrogance.
              </p>
            </ion-card-content>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
